.leaflet-control-window {
    text-align: justify;
}

.leaflet-popup button {
    border: none;
    text-align: center;
    text-decoration: underline;
    background-color: white;
    color: black;
    float: right;
    cursor: pointer;
}

.leaflet-popup button:hover {
    color: grey;
}